h1{
	font-weight:bold;
	text-transform:capitalize;
	letter-spacing:2px;
	word-spacing:2px;
	font-family:Perpetua Titling MT,Constantia;
	color:#191970;
	text-shadow: 2px 2px 5px LightSlateGrey;
}
body{
	background-image:url('../images/welcome.png');
	background-position:top right;
	background-repeat:no-repeat;
	background-color:#FAF1E4;
	margin:1cm 5cm 1cm 1cm;
}
legend, fieldset{
	border:8px outset #61677A;
	border-radius:15px;
	color:#435334;
	padding:10px;
	background-image: linear-gradient(to right, #FFF3DA, #DFCCFB, #D0BFFF, #BEADFA);
}
.p1{
	text-align:justify;
	text-indent:0;
	font-family:hoppin;
}
.p2{
	text-align:center	;
	text-indent:0;
	font-family:cambria;
}
.p3{
	color:#000080;
	text-align:justify;
	text-indent:0;
	font-family:cambria;
}
p.p3:first-letter{
	text-indent:0;
	font-size:50pt;
	color:#B22222;
	font-weight:bolder;
	float:left;
}
.p3:first-line{
	text-indent:0;
	color:#65451F;
	font-style:italic;
	font-weight:bolder;
}
.hobi{
	list-style-type:lower-alpha;
}
ol#novel{
	list-style-type:square;
}
.olahraga{
	list-style-image:url('../images/jempol.gif');	
}
.fantasi{
	list-style-type: circle;	
}
a.link_gambar:link, a.link_gambar:visited{
	text-decoration:none;
	color:none;
	border-width:0px;
	background-color:#191970;
}
a.link_gambar:hover{
	text-decoration:none;
	border-width:0px;
	color:none;
	background-color:#191970;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@font-face {
  font-family: hoppin;
  src: url('hoppin.ttf');
}

